<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Stt</th>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Pass</th>
            <th scope="col">Status</th>
            <th scope="col">Button</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let acc of list, let i = index"> 
            <th scope="row">{{i}}</th>
            <td>{{acc.id}}</td>
            <td>{{acc.name}}</td>
            <td>{{acc.pass}}</td>
            <td>{{acc.status}}</td>
            <td width="15%"><button class="btn btn-danger" (click)="deleteacc(acc.id)">Delete</button> &nbsp;&nbsp;<button class="btn btn-success">Update</button></td>
          
          </tr>
    </tbody>
</table>