<form #formregister = "ngForm">
    <div class="form-group">
        <label>User name</label>
        <input type="text" class="form-control" #Userid  name="user" placeholder="User name" required ngModel>
        {{Userid.className}}
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" #passid name="pass" placeholder="Password" required ngModel>
      </div>
      <div class="form-group">
        <label>Repassword</label>
        <input type="text" class="form-control" #repassid name="repass" placeholder="Repassword" required ngModel>
      </div>
      <button [disabled]="formregister.invalid" class="btn btn-primary" (click)="register(Userid.value,passid.value)">Register</button>
</form>

